<!DOCTYPE html>
<html lang="en-us">

<head>
    <title>Govt Sites - India</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!--Bulma CDN-->
    <link rel="stylesheet" href="css/bulma.min.css">
    <link rel="stylesheet" href="css/fontawesome.css">
    <link rel="stylesheet" href="css/main.css">

    <script src="js/vue.js"></script>


    <!--Main Stylesheet-->
    <link rel="stylesheet" type="text/css" media="screen" href="css/main.css" />
    <!-- start of web manifest -->
    <link rel="manifest" href="/manifest.json">
    <!--logo-->
    <link rel="shortcut icon" href="img/icons/icon-96x96.png">
</head>

<body>
    <div id="app" style="background-color: #00d1b2">
        <div class="container container-custom">

            <nav class="level">
                <p class="level-item has-text-centered">
                    <span class="title" style="color: white;">Govt. Sites</span>
                </p>
            </nav>

            <div class="field">
                <div class="control">
                    <input class="input is-rounded is-medium is-primary" v-on:input="SearchFilter" v-model="searchValue" type="text" placeholder="Search">
                </div>
            </div>

            <div class="card card-custom" v-for="item in listItems">
                <header class="card-header">
                    <p class="card-header-title is-centered">
                        {{item.title}}
                    </p>
                </header>
                <div class="card-content">
                    <div class="content">
                        {{item.description}}
                    </div>
                </div>
                <footer class="card-footer">
                    <a :href="item.url" target="_blank" class="card-footer-item is-primary">Open Site</a>
                </footer>
            </div>

        </div>
    </div>

    <footer class="footer">
        <div class="content has-text-centered">
            <p>
                By
                <a href="https://github.com/melwinalm">Melwin D'Almeida</a>. Click
                <a href="https://github.com/melwinalm/Govt-Sites">here</a> to contribute.
            </p>
        </div>
    </footer>

    <!-- Registering Service Worker -->
    <script>
        if ('serviceWorker' in navigator) {
            window.addEventListener('load', function () {
                navigator.serviceWorker.register('/service-worker.js')
                    .then(function () {
                        console.log("Service Worker Registered");
                    });
            });
        }
    </script>
    <!-- End of Service Worker -->

    <script src="js/app.js"></script>

</body>

</html>